@media screen and (max-width: 576px) {
    .alert-info {
        display: flex;
        justify-content: center;
        background-color: lightskyblue;
        padding: 1em;
        border: darkgray solid 2px;
    }

    .alert-info>a {
         text-decoration: none;
         color: #000;
    }

    h1 {
        align-self: center;
    }

    nav {
        display: flex;
        align-items: center;
    }

    ul {
        width: 100%;
        padding: 0;
    }

    /*li {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*}*/

    .nav-links {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .nav-links>li {
        display: flex;
        justify-content: center;
        background-color: lightgray;
        padding: 1em;
        margin: 0.5em 0;

    }

    .header-img {
        display: flex;
        justify-content: center;
        margin: auto;
    }



}

#social-media-links {
    display: flex;

}

#social-media-links>i {
    padding: 1em;
}

footer {
    display: flex;
    justify-content: space-between;
}
* {
    box-sizing: border-box;

}

.sub-section {
    font-style: italic;
}

img {
    width: 100%;
}


@media screen and (min-width: 577px) {

    .alert-info {

        display: none;
    }

    h1 {
        position: absolute;
        font-size: 3em;
        margin: 0;
    }

    nav {
        margin-left: auto;

    }

    ul {
        display: flex;
        list-style: none;

    }

    li {
        padding: 1em;
    }

    body>section {
        /*display: inline-block;*/
        width: 49%;
        margin: auto;
        flex-wrap: wrap;

    }

    body{
        flex-direction: row;

    }
    #main{

    }

    .main {
        margin-right: auto;

    }

    .sub-section {
        /*width: 49%;*/
        margin-left: auto;
    }


}







body {
    margin: 0;
    padding: 1em;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}



