* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1em;
}

.alert-info {
    display: flex;
    justify-content: center;
}

.alert-info>a {
    text-decoration: none;
    background-color: lightskyblue;
    padding: 1em;
    color: #000;
    border: darkgray solid 2px;
}